@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: black; */
  font-family: "Poppins", sans-serif;
}

.text-bg-red {
  /* background: linear-gradient(270deg, rgba(0, 4, 255, 0) 0%, rgb(255 0 0) 100%); */
  /* background: radial-gradient(circle 900px, #ff00009e, #9b101000); */
  /* color: rebeccapurple; */
}

.nav-bar {
  /* background: linear-gradient(
    0deg,
    rgba(0, 4, 255, 0) 0%,
    rgba(255, 0, 0, 0.46) 100%
  ); */
}

.bg-image {
  opacity: 0.3;
}

.hotlist-item {
  border-right: 1px solid white;
}

.abg:hover {
  background-color: rgb(131, 122, 0);
}
.aabg:hover {
  background-color: rgb(174, 0, 255);
}
.aaabg:hover {
  background-color: rgb(0, 139, 18);
}
.aaaabg:hover {
  background-color: rgb(255, 35, 35);
}

.nav-bar h1 {
  font-size: 17px;
  z-index: 999;
  border-bottom: 2px solid rgba(227, 25, 25, 0);
}
.nav-bar h1 {
  /* letter-spacing: 3px; */
  color: red;
}

.base-text {
  /* text-shadow: -1px 2px 10px rgba(0, 0, 0, 1); */
  text-shadow: 3px 2px 8px rgba(0, 0, 0, 1);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(33, 0, 0);
}

.character-card h1 {
background-color: red;
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0); */

}

.character-card {

  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

  border-radius: 12px;
}
/* .character-card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

} */

.teirs {
  opacity: 0.2;
}

.teirs:active {
  opacity: 1;
}
.teirs:focus {
  opacity: 1;
}
