@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: black; */
  font-family: "Poppins", sans-serif;
}


.bg-image {
  opacity: 0.3;
}

.abg:hover {
  background-color: rgb(131, 122, 0);
}
.aabg:hover {
  background-color: rgb(174, 0, 255);
}
.aaabg:hover {
  background-color: rgb(0, 139, 18);
}
.aaaabg:hover {
  background-color: rgb(255, 35, 35);
}

.nav-bar h1 {
  
  z-index: 999;
  border-bottom: 2px solid rgba(227, 25, 25, 0);
}
.nav-bar h1 {
  color: red;
}

.blur-one{
  border-radius: 10px !important;
  padding: 3px;
  backdrop-filter: blur(6px) saturate(70%);
  -webkit-backdrop-filter: blur(10px) saturate(70%);
  text-shadow: 1px 3px 7px rgba(0, 0, 0, 1),
             8px -3px 16px rgba(0, 0, 0, 1);
}

.character-card h1 {
background-color: red;
}
.movies-card h1 {
background-color: rgb(105, 19, 255);
}

.character-card {

  border-radius: 12px;
}


.teirs {
  opacity: 0.2;
  width: 100%;
  
}

.teirs:active {
  opacity: 1;
}
.teirs:focus {
  opacity: 1;
}
