@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: black; */
  font-family: "Poppins", sans-serif;
}

.text-bg-red {
  /* background: linear-gradient(270deg, rgba(0, 4, 255, 0) 0%, rgb(255 0 0) 100%); */
  /* background: radial-gradient(circle 900px, #ff00009e, #9b101000); */
  /* color: rebeccapurple; */
}

.nav-bar {
  /* background: linear-gradient(
    0deg,
    rgba(0, 4, 255, 0) 0%,
    rgba(255, 0, 0, 0.46) 100%
  ); */
}

.bg-image {
  opacity: 0.3;
}

.hotlist-item {
  border-right: 1px solid white;
}

.abg:hover {
  background-color: rgb(131, 122, 0);
}
.aabg:hover {
  background-color: rgb(174, 0, 255);
}
.aaabg:hover {
  background-color: rgb(0, 139, 18);
}
.aaaabg:hover {
  background-color: rgb(255, 35, 35);
}

.nav-bar h1 {
  font-size: 17px;
  z-index: 999;
  border-bottom: 2px solid rgba(227, 25, 25, 0);
}
.nav-bar h1 {
  /* letter-spacing: 3px; */
  color: red;
}

.base-text {
  /* text-shadow: -1px 2px 10px rgba(0, 0, 0, 1); */
  text-shadow: 3px 2px 8px rgba(0, 0, 0, 1);
}

.character-card h1 {
  position: absolute;
  width: 100%;
  bottom: -20px;
  color: #1b0606;
  text-shadow: 0px 0px 13px rgb(37, 37, 37);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  font-size: 20px;
  -webkit-backdrop-filter: blur(14px) brightness(300%);
  backdrop-filter: blur(14px) brightness(200%);

}

.character-card{
position: relative;
}

.teirs{
  opacity: 0.2;
}

.teirs:active{
  opacity: 1;
}
.teirs:focus{
  opacity: 1;
}